@font-face {
    font-family: 'Ms Claudy';
    src: url('./fonts/MsClaudy-Regular.woff2') format('woff2'),
        url('./fonts/MsClaudy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('./fonts/SVN-GothamBlack.woff2') format('woff2'),
        url('./fonts/SVN-GothamBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham Book';
    src: url('./fonts/SVN-GothamBook.woff2') format('woff2'),
        url('./fonts/SVN-GothamBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('./fonts/SVN-Gotham.woff2') format('woff2'),
        url('./fonts/SVN-Gotham.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('./fonts/SVN-GothamLight.woff2') format('woff2'),
        url('./fonts/SVN-GothamLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('./fonts/SVN-GothamThin.woff2') format('woff2'),
        url('./fonts/SVN-GothamThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('./fonts/SVN-GothamBlackItalic.woff2') format('woff2'),
        url('./fonts/SVN-GothamBlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham Ultra';
    src: url('./fonts/SVN-GothamUltra.woff2') format('woff2'),
        url('./fonts/SVN-GothamUltra.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('./fonts/SVN-GothamThinItalic.woff2') format('woff2'),
        url('./fonts/SVN-GothamThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('./fonts/SVN-GothamBold.woff2') format('woff2'),
        url('./fonts/SVN-GothamBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('./fonts/SVN-GothamBoldItalic.woff2') format('woff2'),
        url('./fonts/SVN-GothamBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('./fonts/SVN-GothamLight.woff2') format('woff2'),
        url('./fonts/SVN-GothamLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham Ultra';
    src: url('./fonts/SVN-GothamUltraItalic.woff2') format('woff2'),
        url('./fonts/SVN-GothamUltraItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('./fonts/SVN-GothamItalic.woff2') format('woff2'),
        url('./fonts/SVN-GothamItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham Book';
    src: url('./fonts/SVN-GothamBookItalic.woff2') format('woff2'),
        url('./fonts/SVN-GothamBookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('./fonts/SVN-GothamBold.woff2') format('woff2'),
        url('./fonts/SVN-GothamBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('./fonts/SVN-GothamLightItalic.woff2') format('woff2'),
        url('./fonts/SVN-GothamLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('./fonts/SVN-GothamLightItalic.woff2') format('woff2'),
        url('./fonts/SVN-GothamLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham XLight';
    src: url('./fonts/SVN-GothamXLight.woff2') format('woff2'),
        url('./fonts/SVN-GothamXLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham XLight';
    src: url('./fonts/SVN-GothamXLightItalic.woff2') format('woff2'),
        url('./fonts/SVN-GothamXLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}






:root{
    --font-ms: 'Ms Claudy';
    --font-gotham: 'SVN-Gotham';
    --primary-color: #FFF8EE;
    --color-text: #3D513B;
}



/* Hiệu ứng fade-down */
.kinhmoi, .lb-inv {
    transform: translateY(-50px);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
  }
  
  .kinhmoi.visible, .lb-inv.visible{
    transform: translateY(0);
    opacity: 1;
  }
  
  /* Hiệu ứng fade-up */
  .lb-time, .lb-add, .timeline, .in-fe, .container-check, .inp-ten, .lb-text, #loi-chuc{
    transform: translateY(50px);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
  }
  
  .lb-time.visible, .lb-add.visible, .timeline.visible, .in-fe.visible, .container-check.visible, .inp-ten.visible, .lb-text.visible, #loi-chuc.visible{
    transform: translateY(0);
    opacity: 1;
  }
  
  /* Hiệu ứng fade-right */
  .box-nu, .img1 {
    transform: translateX(-50px);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
  }
  
  .box-nu.visible, .img1.visible{
    transform: translateX(0);
    opacity: 1;
  }
  
  /* Hiệu ứng fade-left */
  .box-nam, .img2 {
    transform: translateX(50px);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
  }
  
  .box-nam.visible, .img2.visible {
    transform: translateX(0);
    opacity: 1;
  }
  
  /* Hiệu ứng zoom-in */
  .timeline-top, .lb-dress1, .lb-dress2, .til1, .til2, .img-time, .img-time2, .box-album2, .xacnhan{
    transform: scale(0.5);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
  }
  
  .timeline-top.visible, .lb-dress1.visible, .lb-dress2.visible, .til1.visible, .til2.visible, .img-time.visible, .img-time2.visible, .box-album2.visible, .xacnhan.visible {
    transform: scale(1);
    opacity: 1;
  }
  



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Loading screen container */
.loading-container {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}

/* Spinner animation */
.spinner {
	border: 6px solid rgba(255, 255, 255, 0.3);
	border-top: 6px solid #fff;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 1s linear infinite;
}

/* Spinner animation keyframes */
@keyframes spin {
	0% {
			transform: rotate(0deg);
	}
	100% {
			transform: rotate(360deg);
	}
}

.custom-popup {
	font-family: var(--font-lora);
}

.custom-title {
	font-weight: bold;
}

.custom-confirm-button {
	text-align: center;
	display: inline-block;
	border: 2px solid #111;
	padding: 10px 20px !important;
	margin: 5px 20px !important;
	border-radius: 20px !important;
	font-style: normal;
	background-color: transparent;
	color: #111;

	font-size: 13px;
	font-weight: 400;

	text-transform: uppercase;
	font-weight: bold;
}
/* Spinner animation */
.spinner {
	border: 6px solid rgba(255, 255, 255, 0.3);
	border-top: 6px solid #fff;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 1s linear infinite;
}

.container{
    width: 480px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid #111;
    background-color: var(--primary-color);
    color: var(--color-text);
}

.container-wrapper{
    width: 100%;
}



.box-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img-top1{
    width: 30%;
    margin-top: 40px;
}

.lb-top1{
    font-family: var(--font-gotham);
    font-size: .6em;
    font-weight: 300;
    line-height: 15px;
    margin-top: 20px;
}

.lb-top2{
    font-family: var(--font-ms);
    font-size: 2.8em;
}

.top-con{
    font-size: .9em;
    padding: 0 10px;
}

.img-top2{
    width: 10%;
    margin-top: 50px;
}

.lb-top3{
    font-family: var(--font-gotham);
    font-size: .6em;
    margin-top: 50px;
}

.lb-top4{
    font-family: var(--font-gotham);
    font-size: .9em;
}

.box-map{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.dot-map{
    font-size: .6em;
    margin-top: 50px;
}

.lb-map1{
    font-family: var(--font-ms);
    font-size: 3.5em;
    margin-top: 40px;
}

.lb-map2{
    font-family: var(--font-gotham);
    font-size: .45em;
    font-style: italic;
    font-weight: 400;
}


.btn-map{
    font-family: var(--font-gotham);
    font-size: .7em;
    font-weight: 500;
    text-decoration: none;
    background-color: var(--color-text);
    padding: 3px 100px 4px;
    border-radius: 20px;
    color: #fff;
    margin-top: 20px;
}

.img-map1{
    width: 100%;
}


.box-timeline, .timeline-top, .timeline{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
}

.lb-timeline1{
    font-family: var(--font-gotham);
    text-transform: uppercase;
    font-size: 1.5em;
}

.img-timeline{
    width: 7%;
    margin-bottom: 15px;
}

.lb-timeline{
    font-family: var(--font-gotham);
    font-size: .55em;
    word-spacing: 1px;
    color: var(--color-text);
}

.timeline-top{
    margin: 50px;
}

.timeline{
    margin: 30px 0;
}

.box-dresscode{
    color: var(--color-text);
}

.dress-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-text);
    background-image: url('./anh/back2-05.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.lb-dress1{
    font-family: var(--font-gotham);
    font-size: 1.5em;
    text-transform: uppercase;
    margin-top: 30px;
}

.img-dress1{
    width: 10%;
    margin: 20px 0;
}

.lb-dress2{
    font-family: var(--font-gotham);
    font-size: .7em;
    margin-bottom: 30px;
}



/* ====FORM+============== */

form{
    color: var(--color-text);
}
.feed-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 20px 0;
}

.box-flow{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-flow3{
    width: 10%;
    margin-top: 50px;
}

.lb-form1{
    font-family: var(--font-gotham);
    text-transform: uppercase;
    font-size: 1em;
}

.lb-dot{
    font-size: .5em;
    margin-top: 30px;
}

.in-fe{
    font-family: var(--font-gotham);
    font-size: .6em;
    font-weight: 400;
    line-height: 15px;
    margin-top: 30px;
}

.line{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

hr{
    width: 100%;
    height: 1.5px;
    background-color: var(--color-text);
    margin-bottom: 20px;
}

[type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    /* overflow: hidden; */
    padding: 0;
    position: absolute;
    width: 1px;
    /* white-space: nowrap; */
    }

.container-check {
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-family: var(--font-gotham);
    font-weight: 300;
    }
    
  
.box-feed:checked+label {
    color: #fff;
    background-color: black;
    }
    
.box-feed{
  border-radius: 20px;
  width: 100px;
}
    
.box-check{
  display: inline-block;
  align-items: center;
  justify-content: center;
  font-family: var(--font-gotham);
  border-radius: 20px;
  /*margin: 0 15px;*/
}

.box-feed:checked+label {
color: #fff;
background-color: var(--primary-color);
}

.box-feed{
border-radius: 20px;
}

.box-label{
    display: flex;
    justify-content: center;
    align-items: center;
}

.lb-text{
    font-family: var(--font-gotham);
    font-size: .7em;
    margin: 20px 0 5px;
    text-transform: uppercase;
}

.til-check{
  /* margin: 0 auto; */
  font-style: normal;
  font-size: .7em;
  font-weight: 400;
  }
  

.check-box {
  width: 150px;
  text-align: center;
display: inline-block;
border: 2px solid var(--color-text);
padding: 4px 10px 5px;
margin: 5px 20px;
border-radius: 20px;
font-style: normal;
background-color: #fff;
}
.box-feed:checked+label {
color: #fff;
background-color: var(--color-text);
}
.check-box:hover {
    background-color: var(--color-text);
    color: #fff;
}

  .box-ten{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: var(--font-gotham);
    margin: 10px 0 0;
    }
    
    .inp-ten{
    width: 350px;
    height: 30px;
    text-align: left;
    border-radius: 20px;
    border: 2px solid var(--color-text);
    font-size: .7em;
    font-weight: 300;
    padding: 5px 10px;
    margin: 5px 0;
    }

    textarea {
        width: 70%;
        padding: 10px;
        font-size: .75em;
        border: 2px solid var(--color-text);
        border-radius: 20px;
        resize: vertical; /* Cho phép thay đổi chiều cao */
    }
    

    input, textarea{
    font-family: var(--font-gotham);
    font-weight: 300;
    font-size: .7em;
}


input::placeholder, textarea::placeholder{
    font-family: var(--font-gotham);
    font-weight: 300;
    font-size: .7em;
    white-space: pre-line;
}


    
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}
.xacnhan{
    height: 30px;
    font-size: .8em;
    background: var(--color-text);
    color: #fff;
    margin: 20px 10px;
    border-radius: 20px;
    border: 1px solid var(--color-text);
    cursor: pointer;
    width: 150px;
    font-weight: 300;
    font-family: var(--font-gotham);
}
    
    .xacnhan:hover{
    background: #fff;
    color: var(--color-text);
    font-weight: 500;
}

.end{
    
}

.img-end{
    width: 100%;
    margin-top: 20px;
}




/* Đảm bảo box-circle luôn cố định và không ảnh hưởng đến nội dung trang */
.box-circle {
    position: fixed; /* Đảm bảo box-circle luôn cố định trên màn hình */
    bottom: 20px; /* Đẩy box-circle xuống một chút từ trên cùng */
    right: 20px; /* Căn box-circle về phía bên phải */
    z-index: 9999; /* Đảm bảo box-circle nằm trên các phần tử khác */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .lb-circle {
    margin-top: 10px;
    font-size: 10px;
    color: #111;
    cursor: pointer;
    transition: color 0.3s ease;
    font-family: var(--font-gotham);
    text-align: center;
    line-height: 10px;
  }
  
  /* Thêm hiệu ứng hover cho label */
  .lb-circle:hover {
    color: #3498db;
  }
  
  .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); */
    overflow: hidden; /* Đảm bảo hình ảnh không bị tràn ra ngoài */
    transition: transform 0.5s ease; /* Chuyển động mượt mà */
    z-index: 2;
  }
  
  /* Khi hình tròn được hover */
  .circle:hover {
    transform: scale(1.1); /* Tăng kích thước hình tròn khi hover */
    /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); */
  }
  
  /* Hình ảnh bên trong hình tròn */
  .circle-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  
  /* Hiệu ứng xoay liên tục */
  .circle.spin {
    animation: spin 1s linear infinite; /* Xoay liên tục */
  }
  
  /* Định nghĩa hoạt ảnh xoay */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .box-back{
    background-image: url('../chien-diem/fonts/./anh/back-02.png');
    padding-bottom: 50px;
  }





/* ================================ */

@media (max-width: 480px){
    .container {
        width: 100%;
    }
    .box-image{
        margin-left: -15px;
        
    }
    .imge{
        width: 40%;
    }
    .lb-line1, .lb-name{
        font-size: 2.7em;
    }
    .kinhmoi{
        font-size: .6em;
    }
    textarea {
        width: 90%;
        padding: 10px;
        font-size: .75em;
    }
    .img-color{
        width: 35%;
    }
  }
  